h1{
    font-weight:lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: bolder;
    font-size: 400;
    font-size:xx-large;
    color:hotpink;
}
table{
    background-color:wheat;
    text-align: center;
}
tr{
    text-align: center;
}
td{
    text-align: center;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight: bold;
    color:darksalmon;
}
body{
    background: linear-gradient(135deg,#fa8bff,#2bd2ff,#2bff88);
}
p{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    color:rgb(246, 234, 125);
}
h1{
    font-size: xx-large;
    font-size: 400%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: ghostwhite;
}
u{
    color: aquamarine;
}